<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332141121052-cm1f8frbs1obragf8t1cmunc1q8o38pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332141121052-cm1f8frbs1obragf8t1cmunc1q8o38pg</string>
	<key>API_KEY</key>
	<string>AIzaSyAx33sVJnerH6rvNhsNDRaHlJF3QDu_mfs</string>
	<key>GCM_SENDER_ID</key>
	<string>332141121052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpark.cutecat</string>
	<key>PROJECT_ID</key>
	<string>fir-acd54</string>
	<key>FIRAnalyticsDebugEnabled</key>
	<string>YES</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-acd54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:332141121052:ios:5668fd2ffffb37ab</string>
	<key>DATABASE_URL</key>
	<string>https://fir-acd54.firebaseio.com</string>
</dict>
</plist>
